$bg-color: white;
$text-color: #333;


.wrapper {
  height: inherit;
}

.navBar {
  width: 100%;
  height: 50px;
  background: $bg-color;
  display: inline-flex;
  color: $text-color;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  font-family: "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 14px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-height: 5%;
    max-width: 5%;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    height: 2px;
    background-color: rgb(227, 227, 227);
  }
}

.logo {
  display: flex;
  padding-left: 20px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.line {
  width: 0;
  height: 20px;
  border-left: 2px solid #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text {
  font-size: 18px;
  font-weight: 500;
}

.buttons {
  display: flex;
  align-items: center;
  height: 100%;

  &:hover {
    background: rgb(242, 242, 242);
  }
}

.userPanel {
  display: flex;
  height: 100%;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
}

.controls {
  display: flex;
  flex-grow: 2;
  height: 100%;
  align-items: center;
}

.exit {
  display: flex;
  height: 100%;
  align-items: center;
}

.icon{
  display: none;
  border: none;
}

.button {
  height: 100%;
  padding: 0 20px;
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;

  &:hover {
    background: rgb(242, 242, 242);
  }
}

.logo{
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@media screen and (max-width: 650px) {
  .controls{
    display: none;
  }

  .icon{
    display: block;
  }

  .responsive {
    flex-direction: column;
    height: min-content;

    .button {
      width: 100%;
      height: 30px;
    }

    .controls {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    .userPanel {
      width: 100%;
      flex-direction: column;

      .buttons {
        width: 100%;
      }

      .line{
        display: none;
      }

    }
  }
}
