$bg-color: white;
$text-color: #333;


.wrapper {
  height: 50px;
}

.navBar {
  width: 100%;
  background: $bg-color;
  display: inline-flex;
  color: $text-color;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  font-family: "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 14px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 8;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-height: 5%;
    max-width: 5%;
  }

  button {
    background: $bg-color;
    color: $text-color;
    border: none;

    &:hover {
      background: rgb(242, 242, 242);
    }
  }

  &:after {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100vw;
    content: '';
    display: block;
    height: 2px;
    background-color: #F2F2F2;
  }
}

.logo {
  padding-left: 20px;
}

.line {
  width: 0;
  height: 30px;
  border-left: 2px solid #eee;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text {
  padding: 0 15px;
}

.buttons {
  display: flex;
  align-items: center;
  height: 100%;

  &:hover {
    background: rgb(242, 242, 242);
  }
}

.userPanel {
  display: flex;
  padding-right: 8px;
  height: 100%;
  align-items: center;
}

.exit {
  display: flex;
  height: 100%;
  align-items: center;
}

.modalButtons {
  width: 100%;
  display: inline-flex;
}

.button{
  width: 40%;
  margin-right: 5%;
}

.logo{
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}