.wrapper {
  background-color: white;
  width: 100%;
  height: min-content;
  padding: 30px;
  border-radius: 8px;
}

.text {
  font-size: clamp(15px, 1.75vw, 24px);
  font-weight: 400;
  white-space: nowrap;
}

.info {
  display: flex;
  gap: 40%;
  padding-top: 10px;
}

.adminHolder {
  display: flex;
  align-items: center;
  gap: 20%;
}

.users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 25px 25px;
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userAvatar {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

@media (max-width: 1270px) {
  .info {
    flex-direction: column;
    gap: 10px;
  }

  .adminHolder {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .info {
    flex-direction: row;
    gap: 40%;
  }

  .adminHolder {
    flex-direction: row;
    align-items: center;
    gap: 20%;
  }
}

@media (max-width: 460px) {
  .info {
    flex-direction: column;
    gap: 10px;
  }

  .adminHolder {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}
