$div-width: 95%;

.background {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
}

.wrapper {
  display: flex;
  width: $div-width;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  padding: 40px;
}

.header {
  width: $div-width;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-family: "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 30px;
}

.button{
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.information{
  display: inline-flex;
}

.about{
  display: inline-flex;
  width: 85%;
}

.avatar{
  $colors: (#F08080, #DA70D6, #98FB98, #00BFFF);
  background: nth($colors, random(length($colors)));
  margin-right: 20px;
  width: 180px;
  height: 180px;
}

.description{
  height: auto;
  width: 100%;
}

.admin{
  height: auto;
}

.buttons{
  display: flex;
  flex-direction: column;
}


