.wrapper{
  display: flex;
  width: 100%;
  justify-content: center;

  span{
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

