.holder{
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.name{
  margin-top: 10px;
}

@media (max-width: 900px){
  .holder {
    width: 70px;
  }

  .circle {
    height: 60px;
    width: 60px;
  }

  .name {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .holder {
    width: 100px;
  }

  .circle {
    height: 80px;
    width: 80px;
  }

  .name {
    font-size: 17px;
  }
}


@media (max-width: 400px){
  .holder {
    width: 70px;
  }

  .circle {
    height: 60px;
    width: 60px;
  }

  .name {
    font-size: 12px;
  }
}
